<%- include('layouts/header'); -%>

<body>
  <%- include('layouts/nav'); -%>

  <main>
    <section class="about-section">
      <div class="about-image">
        <img src="\images\photo-1440778303588-435521a205bc.jpg" alt="About Roaming Wanderlust">
      </div>
      <div class="about-content">
        <h2>About Roaming Wanderlust</h2>
        <p>
          Welcome to Roaming Wanderlust! We are a passionate group of travel enthusiasts who believe that life's greatest adventures come from exploring the world around us. Our blog is dedicated to sharing our travel experiences, hidden gems we discover, and tips to make your journeys memorable.
        </p>
        <p>
          Whether it's trekking through lush rainforests, savoring local delicacies, or immersing ourselves in diverse cultures, we are on a mission to capture the essence of wanderlust in every corner of the globe. Join us on this thrilling adventure as we venture far and wide, seeking inspiration and adventure at every turn.
        </p>
        <p>
          We hope our stories and insights ignite the travel bug within you and inspire you to embark on your own extraordinary escapades. So pack your bags, put on your explorer's hat, and let's set off on a journey of a lifetime together!
        </p>
      </div>

    </section>
</body>

<%- include('layouts/footer'); -%>